// Change the font to whatever you'd like
$main-font: 'Droid Sans', sans-serif;

// Media Query Breakpoints
$small: 48em;
$medium: 62em;
$large: 75em;

// 12-Col Grid Values
$col-1: 8.3334%;
$col-2: 16.6667%;
$col-3: 25%;
$col-4: 33.3334%;
$col-5: 41.6667%;
$col-6: 50%;
$col-7: 58.3334%;
$col-8: 66.6667%;
$col-9: 75%;
$col-10: 83.3334%;
$col-11: 91.6667%;
$col-12: 100%;
// 10-Col Grid Values
$col-1-10: 10%;
$col-2-10: 20%;
$col-3-10: 30%;
$col-4-10: 40%;
$col-5-10: $col-6;
$col-6-10: 60%;
$col-7-10: 70%;
$col-8-10: 80%;
$col-9-10: 90%;
$col-10-10: $col-12;

* {
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
// allows columns side-by-side comfortably
.row {
    text-align: justify;
    font-family: monospace, monospace;
    letter-spacing: -0.6em;
}
// resets the styles applied to .row for layout purposes
.row > * {
    font-family: $main-font;
    text-align: left;
    letter-spacing: normal;
}

// Based off of Bootstrap grid,
// I recommend changing these values to fit your needs/project
@media (min-width: $small) {
  .container {
    //   750px
    width: 46.875em;
  }
}
@media (min-width: $medium) {
  .container {
    //   970px
    width: 60.625em;
  }
}
@media (min-width: $large) {
  .container {
    //   1170px
    width: 73.125em;
  }
}


.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  display: inline-block;
  vertical-align: top;
}

.col-xs-1 {
  width: $col-1;
}
.col-xs-2 {
  width:$col-2;
}
.col-xs-3 {
  width:$col-3;
}
.col-xs-4 {
  width:$col-4;
}
.col-xs-5 {
  width:$col-5;
}
.col-xs-6 {
  width:$col-6;
}
.col-xs-7 {
  width: $col-7;
}
.col-xs-8 {
  width: $col-8;
}
.col-xs-9 {
  width: $col-9;
}
.col-xs-10 {
  width: $col-10;
}
.col-xs-11 {
  width: $col-11;
}
.col-xs-12 {
  width: $col-12;
}

/* 10-Col Grid */
.col-xs-1-10 {
    width: $col-1-10;
}
.col-xs-2-10 {
    width: $col-2-10;
}
.col-xs-3-10 {
    width: $col-3-10;
}
.col-xs-4-10 {
    width: $col-4-10;
}
.col-xs-5-10 {
    width: $col-5-10;
}
.col-xs-6-10 {
    width: $col-6-10;
}
.col-xs-7-10 {
    width: $col-7-10;
}
.col-xs-8-10 {
    width: $col-8-10;
}
.col-xs-9-10 {
    width: $col-9-10;
}
.col-xs-10-10 {
    width: $col-10-10;
}

/* 10-Col Grid - OFFSET */
.col-xs-offset-1-10 {
    width: $col-1-10;
}
.col-xs-offset-2-10 {
    width: $col-2-10;
}
.col-xs-offset-3-10 {
    width: $col-3-10;
}
.col-xs-offset-4-10 {
    width: $col-4-10;
}
.col-xs-offset-5-10 {
    width: $col-5-10;
}
.col-xs-offset-6-10 {
    width: $col-6-10;
}
.col-xs-offset-7-10 {
    width: $col-7-10;
}
.col-xs-offset-8-10 {
    width: $col-8-10;
}
.col-xs-offset-9-10 {
    width: $col-9-10;
}
.col-xs-offset-10-10 {
    width: $col-10-10;
}

/* OFFSET */
.col-xs-offset-0 {
    margin-left: 0;
}
.col-xs-offset-1 {
    margin-left: $col-1;
}
.col-xs-offset-2 {
    margin-left:$col-2;
}
.col-xs-offset-3 {
    margin-left:$col-3;
}
.col-xs-offset-4 {
    margin-left:$col-4;
}
.col-xs-offset-5 {
    margin-left:$col-5;
}
.col-xs-offset-6 {
    margin-left:$col-6;
}
.col-xs-offset-7 {
    margin-left: $col-7;
}
.col-xs-offset-8 {
    margin-left: $col-8;
}
.col-xs-offset-9 {
    margin-left: $col-9;
}
.col-xs-offset-10 {
    margin-left: $col-10;
}
.col-xs-offset-11 {
    margin-left: $col-11;
}
.col-xs-offset-12 {
    margin-left: $col-12;
}

/* 768px - 48em*/
@media (min-width: $small) {
    .col-sm-1 {
      width: $col-1;
    }
    .col-sm-2 {
      width:$col-2;
    }
    .col-sm-3 {
      width:$col-3;
    }
    .col-sm-4 {
      width:$col-4;
    }
    .col-sm-5 {
      width:$col-5;
    }
    .col-sm-6 {
      width:$col-6;
    }
    .col-sm-7 {
      width: $col-7;
    }
    .col-sm-8 {
      width: $col-8;
    }
    .col-sm-9 {
      width: $col-9;
    }
    .col-sm-10 {
      width: $col-10;
    }
    .col-sm-11 {
      width: $col-11;
    }
    .col-sm-12 {
      width: $col-12;
    }

    /* 10-Col Grid */
    .col-sm-1-10 {
        width: $col-1-10;
    }
    .col-sm-2-10 {
        width: $col-2-10;
    }
    .col-sm-3-10 {
        width: $col-3-10;
    }
    .col-sm-4-10 {
        width: $col-4-10;
    }
    .col-sm-5-10 {
        width: $col-5-10;
    }
    .col-sm-6-10 {
        width: $col-6-10;
    }
    .col-sm-7-10 {
        width: $col-7-10;
    }
    .col-sm-8-10 {
        width: $col-8-10;
    }
    .col-sm-9-10 {
        width: $col-9-10;
    }
    .col-sm-10-10 {
        width: $col-10-10;
    }

    /* 10-Col Grid - OFFSET */
    .col-sm-offset-1-10 {
        width: $col-1-10;
    }
    .col-sm-offset-2-10 {
        width: $col-2-10;
    }
    .col-sm-offset-3-10 {
        width: $col-3-10;
    }
    .col-sm-offset-4-10 {
        width: $col-4-10;
    }
    .col-sm-offset-5-10 {
        width: $col-5-10;
    }
    .col-sm-offset-6-10 {
        width: $col-6-10;
    }
    .col-sm-offset-7-10 {
        width: $col-7-10;
    }
    .col-sm-offset-8-10 {
        width: $col-8-10;
    }
    .col-sm-offset-9-10 {
        width: $col-9-10;
    }
    .col-sm-offset-10-10 {
        width: $col-10-10;
    }

    /* OFFSET */
    .col-sm-offset-0 {
        margin-left: 0;
    }
    .col-sm-offset-1 {
        margin-left: $col-1;
    }
    .col-sm-offset-2 {
        margin-left:$col-2;
    }
    .col-sm-offset-3 {
        margin-left:$col-3;
    }
    .col-sm-offset-4 {
        margin-left:$col-4;
    }
    .col-sm-offset-5 {
        margin-left:$col-5;
    }
    .col-sm-offset-6 {
        margin-left:$col-6;
    }
    .col-sm-offset-7 {
        margin-left: $col-7;
    }
    .col-sm-offset-8 {
        margin-left: $col-8;
    }
    .col-sm-offset-9 {
        margin-left: $col-9;
    }
    .col-sm-offset-10 {
        margin-left: $col-10;
    }
    .col-sm-offset-11 {
        margin-left: $col-11;
    }
    .col-sm-offset-12 {
        margin-left: $col-12;
    }
}

/* 992px - 62em */
@media (min-width: $medium) {
    .col-md-1 {
      width: $col-1;
    }
    .col-md-2 {
      width:$col-2;
    }
    .col-md-3 {
      width:$col-3;
    }
    .col-md-4 {
      width:$col-4;
    }
    .col-md-5 {
      width:$col-5;
    }
    .col-md-6 {
      width:$col-6;
    }
    .col-md-7 {
      width: $col-7;
    }
    .col-md-8 {
      width: $col-8;
    }
    .col-md-9 {
      width: $col-9;
    }
    .col-md-10 {
      width: $col-10;
    }
    .col-md-11 {
      width: $col-11;
    }
    .col-md-12 {
      width: $col-12;
    }

    /* 10-Col Grid */
    .col-md-1-10 {
        width: $col-1-10;
    }
    .col-md-2-10 {
        width: $col-2-10;
    }
    .col-md-3-10 {
        width: $col-3-10;
    }
    .col-md-4-10 {
        width: $col-4-10;
    }
    .col-md-5-10 {
        width: $col-5-10;
    }
    .col-md-6-10 {
        width: $col-6-10;
    }
    .col-md-7-10 {
        width: $col-7-10;
    }
    .col-md-8-10 {
        width: $col-8-10;
    }
    .col-md-9-10 {
        width: $col-9-10;
    }
    .col-md-10-10 {
        width: $col-10-10;
    }

    /* 10-Col Grid - OFFSET */
    .col-md-offset-1-10 {
        width: $col-1-10;
    }
    .col-md-offset-2-10 {
        width: $col-2-10;
    }
    .col-md-offset-3-10 {
        width: $col-3-10;
    }
    .col-md-offset-4-10 {
        width: $col-4-10;
    }
    .col-md-offset-5-10 {
        width: $col-5-10;
    }
    .col-md-offset-6-10 {
        width: $col-6-10;
    }
    .col-md-offset-7-10 {
        width: $col-7-10;
    }
    .col-md-offset-8-10 {
        width: $col-8-10;
    }
    .col-md-offset-9-10 {
        width: $col-9-10;
    }
    .col-md-offset-10-10 {
        width: $col-10-10;
    }

    /* OFFSET */
    .col-md-offset-0 {
        margin-left: 0;
    }
    .col-md-offset-1 {
        margin-left: $col-1;
    }
    .col-md-offset-2 {
        margin-left:$col-2;
    }
    .col-md-offset-3 {
        margin-left:$col-3;
    }
    .col-md-offset-4 {
        margin-left:$col-4;
    }
    .col-md-offset-5 {
        margin-left:$col-5;
    }
    .col-md-offset-6 {
        margin-left:$col-6;
    }
    .col-md-offset-7 {
        margin-left: $col-7;
    }
    .col-md-offset-8 {
        margin-left: $col-8;
    }
    .col-md-offset-9 {
        margin-left: $col-9;
    }
    .col-md-offset-10 {
        margin-left: $col-10;
    }
    .col-md-offset-11 {
        margin-left: $col-11;
    }
    .col-md-offset-12 {
        margin-left: $col-12;
    }
}

// 1200px - 75em
@media (min-width: $large) {
    .col-lg-1 {
      width: $col-1;
    }
    .col-lg-2 {
      width:$col-2;
    }
    .col-lg-3 {
      width:$col-3;
    }
    .col-lg-4 {
      width:$col-4;
    }
    .col-lg-5 {
      width:$col-5;
    }
    .col-lg-6 {
      width:$col-6;
    }
    .col-lg-7 {
      width: $col-7;
    }
    .col-lg-8 {
      width: $col-8;
    }
    .col-lg-9 {
      width: $col-9;
    }
    .col-lg-10 {
      width: $col-10;
    }
    .col-lg-11 {
      width: $col-11;
    }
    .col-lg-12 {
      width: $col-12;
    }

    /* 10-Col Grid */
    .col-lg-1-10 {
        width: $col-1-10;
    }
    .col-lg-2-10 {
        width: $col-2-10;
    }
    .col-lg-3-10 {
        width: $col-3-10;
    }
    .col-lg-4-10 {
        width: $col-4-10;
    }
    .col-lg-5-10 {
        width: $col-5-10;
    }
    .col-lg-6-10 {
        width: $col-6-10;
    }
    .col-lg-7-10 {
        width: $col-7-10;
    }
    .col-lg-8-10 {
        width: $col-8-10;
    }
    .col-lg-9-10 {
        width: $col-9-10;
    }
    .col-lg-10-10 {
        width: $col-10-10;
    }

    /* 10-Col Grid - OFFSET */
    .col-lg-offset-1-10 {
        width: $col-1-10;
    }
    .col-lg-offset-2-10 {
        width: $col-2-10;
    }
    .col-lg-offset-3-10 {
        width: $col-3-10;
    }
    .col-lg-offset-4-10 {
        width: $col-4-10;
    }
    .col-lg-offset-5-10 {
        width: $col-5-10;
    }
    .col-lg-offset-6-10 {
        width: $col-6-10;
    }
    .col-lg-offset-7-10 {
        width: $col-7-10;
    }
    .col-lg-offset-8-10 {
        width: $col-8-10;
    }
    .col-lg-offset-9-10 {
        width: $col-9-10;
    }
    .col-lg-offset-10-10 {
        width: $col-10-10;
    }

    /* OFFSET */
    .col-lg-offset-0 {
        margin-left: 0;
    }
    .col-lg-offset-1 {
        margin-left: $col-1;
    }
    .col-lg-offset-2 {
        margin-left:$col-2;
    }
    .col-lg-offset-3 {
        margin-left:$col-3;
    }
    .col-lg-offset-4 {
        margin-left:$col-4;
    }
    .col-lg-offset-5 {
        margin-left:$col-5;
    }
    .col-lg-offset-6 {
        margin-left:$col-6;
    }
    .col-lg-offset-7 {
        margin-left: $col-7;
    }
    .col-lg-offset-8 {
        margin-left: $col-8;
    }
    .col-lg-offset-9 {
        margin-left: $col-9;
    }
    .col-lg-offset-10 {
        margin-left: $col-10;
    }
    .col-lg-offset-11 {
        margin-left: $col-11;
    }
    .col-lg-offset-12 {
        margin-left: $col-12;
    }
}
